@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="text-center">
    <h1>Bienvenido</h1>
    <h1>a</h1>
    <h1>FICTICIA S.A</h1>
</div>


